<div class="wrapper wrapper-content">
 <form>
   <div class="alert alert-success alert-dismissable" close="verser(compte)" *ngIf="show" 
       dismiss-on-timeout="2000"> <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>opération validé.</div>
   <div class="form-group">
    <label for="input01">Numero compte</label>
    <input type="text" class="form-control form-control-rounded" id="input01" placeholder="Numero compte" [(ngModel)]="compte.codCpte" name="codCpte">
  </div>

  <div class="form-group">
    <label for="input02">Montant</label>
    <input type="text" class="form-control" id="input02" placeholder="montant" [(ngModel)]="compte.montant" name="montant">
  </div>
  
 <div class="form-group">
<button type="button" class="btn btn-primary" (click)="verser(compte)">Verser</button>
<button type="button" class="btn btn-primary" (click)="retirer(compte)">Retirer</button>
 </div>
</form>
</div>